ssh_key.pem
terraform.tfstate
.terraform
terraform.tfstate.backup
/wordpress-source/public_html
.terraform.tfstate.lock.info
inventory
ansible-main/roles/import_source/files/
ansible-main/hosts
ansible
wordpress-source
with-cert
AWS/easy_access.txt
AWS/command_install_dockercompose.txt